header {
    background-color: white;
}
.personal-body {
    background-color: #EEEFF0;
    height: 100%;
}
.personal-nav {
    border-bottom: solid 2px #e8e8e8;
}
.personal-nav__items {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.personal-nav__item a{
    color: black;
}
.personal-nav__item {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}
.personal-nav__item__active {
    background-color: #e8e8e8;
}
.personal-nav__items .personal-nav__center a {
    padding: 0 100px;
    display: flex;
    height: 100%;
    align-items: center;
    color: black;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.personal-nav__items .personal-nav__center a:hover {
    background-color: #e8e8e8;
}
.profile  {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}
.personal-menu {
    background-color: #E6E6E6;
    padding: 9px 30px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.header-bottom {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: start;
    padding: 12px 0;
}
.main-header{
    margin-top: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main-header__card {
    display: flex;
    gap: 3px;
    align-items: center;
    padding: 12px 0;
    background-color: white;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
}
.take-gift {
    width: 55%;
    justify-content: center;
}
.lessons-balance {
    width: 37%;
    justify-content: space-between;
    padding: 12px 32px;
}
.main-cards {
    display: flex;
    gap: 10px;
}
.lessons {
    justify-content: space-around;
    padding: 35px 0;
    width: 55%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.lessons img {
    height: 200px;
    width: 200px;
}
.lessons__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.lessons-title {
    font-weight: 600;
    size: 27px;
}
.progress {
    margin-top: 35px;
}
.progress-bar {
    width: 100%; 
    height: 1px;
    background-color: #385BD2;

}
.chat {
    justify-content: space-between;
    padding: 20px 25px;
    width: 37%;
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.chat-tacher__info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.chat-teacher__items {
    flex-direction: column;
}
.chat-teacher__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}
.chat-content {
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column ;
}
.text-chat {
    text-align: center;
}
.lessons-chat__input {
    background-color: #EFEFEF;
    padding: 15px 23px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}